@model BusinessLogic.Adaptor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Adaptor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdaptorTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdaptorTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsServer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsServer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowedIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeoutInSec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeoutInSec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssociationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssociationId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="adaptorList">Back to List</a>
    </form>
</div>
