
@*@{
    ViewData["Title"] = "Modules";
}*@

@model BusinessLogic.ParticipantType

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/liteAdmin.styles.css" asp-append-version="true" />
<title>AdminLTE 3 | ParticipantsType</title>

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="~/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="~/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/dist/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<!-- summernote -->
<link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <h1 class="m-0">ParticipantsType</h1>

    
    <div class="card"></div>
    <div class="card-header"></div>
    <div class="ibox-content">


        <div class="row">


           @* <div class="col-md-4">


                @Html.LabelFor(model => model.ParticipantTypeId)
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ParticipantTypeId,ViewBag.ParticipantData as SelectList ,"--Select Participants--",new  { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ParticipantTypeId, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="col-md-4">

                @Html.LabelFor(model => model.Type)
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">

                @Html.LabelFor(model => model.Descryption)
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Descryption, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descryption, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    @*<div class="row">
        <div class="col-md-4">

            @Html.LabelFor(model => model.Phone)
            <div class="form-group">
                @Html.TextBoxFor(model => model.UpdatedBy, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UpdatedBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">

            @Html.LabelFor(model => model.CreatedOn)
            <div class="form-group">
                @Html.TextBoxFor(model => model.CreatedOn, @"{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                @Html.ValidationMessageFor(model => model.CreatedOn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">

            @Html.LabelFor(model => model.Password)
            <div class="form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            @Html.LabelFor(model => model.UpdateOn)
            <div class="form-group">
                @Html.TextBoxFor(model => model.UpdateOn, @"{0:yyyy-MM-dd HH:mm}", new { @class = "form-control", @type = "date", @Value = DateTime.Now.AddYears(3).ToString("yyyy-MM-dd") })
                @Html.ValidationMessageFor(model => model.UpdateOn, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-4">
            @Html.LabelFor(model => model.Address)
            <div class="form-group">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">

            @Html.LabelFor(model => model.AssociationId)
            <div class="form-group">
                @Html.EditorFor(model => model.AssociationId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssociationId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.UpdatedBy)
            <div class="form-group">
                @Html.EditorFor(model => model.UpdatedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UpdatedBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4">

            @Html.LabelFor(model => model.UpdatedBy)
            <div class="form-group">
                @Html.EditorFor(model => model.UpdatedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UpdatedBy, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-4">

            @Html.LabelFor(model => model.RoleId)
            <div class="form-group">

                @Html.EditorFor(model => model.RoleId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6" style="text-align:left">
            @Html.ActionLink("Back to List", "Dashboard", "Home", new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-6" style="text-align:right">
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-primary note-right-left" />
            </div>
        </div>
    </div>*@
    <div class="row">

        <div class="col-md-6" style="text-align:left">
            @Html.ActionLink("Back to List", "ParticipantTypeList", "Home", new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-6" style="text-align:right">
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-primary note-right-left" />
            </div>
        </div>
    </div>

    <div>
    </div>


    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* @await RenderSectionAsync("Scripts", required: false)*@
}

