@model IEnumerable<BusinessLogic.TransactionIdentifier>

@{
    ViewData["Title"] = "TransactionIdentifierList";
}

<h1>TransactionIdentifierList</h1>

<p>
    <a asp-action="TransactionIdentifier">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyField1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyField2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyField3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyField4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyField1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyField2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyField3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyField4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
               
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
