@model IEnumerable<BusinessLogic.TransactionFields>

@{
    ViewData["Title"] = "transactionFieldList";
}

<h1>TransactionFieldList</h1>

<p>
    <small><a asp-area=""  asp-action="transactionField" style="float: left; margin-right: 10px; margin-bottom: 5px; width: 75px;"> <i class="btn btn-block btn-primary " style=""><span>Create</span></i></a></small>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionIdentifierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOptional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompleteFieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionIdentifierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOptional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteFieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
